
.cardLink {
    text-align: right;
}

.profileCard {
    max-width: 30vw;
    padding-left: 2vw;

}

.secondCol {
    padding-left: 1vw;
    padding-right: 2vw;
}

.row {
    padding-top: 1vw;
}

.container {
    text-align: center;
    padding-left: 1vw;
    margin-left: 0;
    padding-right: 1vw;
    margin-right: 0vw;
}